@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
    themes: 'light';
};

@theme {
    --color-primary: #1B6392;
    --color-nav: #F2F4F5;
    --color-footer-500: #191C1F;
    --color-footer-400: #3A3F42;
    --color-base-500: #929FA5;
    --color-secondary: #FA8232;
    --color-third: #4caf50;

    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

@layer utilities {
    .hover-icons {
        @apply w-10 h-10 p-2 hover:rounded-lg hover:bg-white/10 hover:cursor-pointer;
    }
}